.env

environment-variables/
configmap.yaml
secret.yaml

**/configmap.yaml
**/secret.yaml

**/.env
**/venv/

**/migrations/
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

**/media/

**/keyfiles

**/db.sqlite3